{%
    set data =  [
	{
		tag: 'HTML',
		skills: '100',
		color: '#E44D26',
		desc: '<?= $skills__text_1?>',
		tags: '
			<div class="skills__tag">HTML 5</div>
			<div class="skills__tag">Adaptive</div>
			<div class="skills__tag">Cross-browser</div>
			<div class="skills__tag">Semantics</div>
			<div class="skills__tag">BEM</div>
			<div class="skills__tag">E-mail</div>
			<div class="skills__tag">Nunjucks</div>
			<div class="skills__tag">Jade/pug</div>
			<div class="skills__tag">Twig</div>
			<div class="skills__tag">Optimization</div>
			<div class="skills__tag">SEO</div>
			<div class="skills__tag">Emmet</div>
		'
	},
	{
		tag: 'CSS',
		skills: '100',
		color: '#379AD6',
		desc: '<?= $skills__text_2?>',
		tags: '
			<div class="skills__tag">CSS</div>
			<div class="skills__tag">CSS 3</div>
			<div class="skills__tag">LESS</div>
			<div class="skills__tag">SCSS/SASS</div>
			<div class="skills__tag">Mobile First</div>
			<div class="skills__tag">Animation</div>
			<div class="skills__tag">Flexible</div>
			<div class="skills__tag">Grids</div>
			<div class="skills__tag">Masks</div>
			<div class="skills__tag">Pixel Perfect</div>
			<div class="skills__tag">SVG</div>
			<div class="skills__tag">Rem</div>
			<div class="skills__tag">Emmet</div>
		'
	},
	{
		tag: 'JavaScript',
		skills: '60',
		color: '#F7E01D',
		desc: '<?= $skills__text_3?>',
		tags: '
			<div class="skills__tag">JavaScript</div>
			<div class="skills__tag">jQuery</div>
			<div class="skills__tag">Ajax</div>
			<div class="skills__tag">Closures</div>
			<div class="skills__tag">This</div>
			<div class="skills__tag">Cycle</div>
			<div class="skills__tag">Functions</div>
			<div class="skills__tag">Objects</div>
			<div class="skills__tag">Promise</div>
			<div class="skills__tag">Plugins</div>
			<div class="skills__tag">Animation</div>
			<div class="skills__tag">Events</div>
			<div class="skills__tag">DOM</div>
			<div class="skills__tag">Regular expressions</div>
			<div class="skills__tag">Cookies</div>
			<div class="skills__tag">API</div>
			<div class="skills__tag">Webpack</div>
			<div class="skills__tag">Gulp</div>
		'
	},
	{
		tag: 'Vue',
		skills: '40',
		color: '#3FB984',
		desc: '<?= $skills__text_4?>',
		tags: '
			<div class="skills__tag">Vue.js</div>
			<div class="skills__tag">Components</div>
			<div class="skills__tag">Form</div>
			<div class="skills__tag">HTTP</div>
			<div class="skills__tag">Virtual DOM</div>
			<div class="skills__tag">Reactive data binding</div>
			<div class="skills__tag">Mixins</div>
			<div class="skills__tag">Directives</div>
			<div class="skills__tag">Plugins</div>
			<div class="skills__tag">Composition API</div>
			<div class="skills__tag">TypeScript</div>
			<div class="skills__tag">Vue CLI</div>
			<div class="skills__tag">Vue Router</div>
			<div class="skills__tag">Vuex</div>
		'
	},
	{
		tag: 'Graphics',
		skills: '70',
		color: '#E91E63',
		desc: '<?= $skills__text_5?>',
		tags: '
			<div class="skills__tag">Adobe Photoshop</div>
			<div class="skills__tag">Sketch/Zeplin</div>
			<div class="skills__tag">Figma</div>
			<div class="skills__tag">UI/UX</div>
			<div class="skills__tag">SVG</div>
			<div class="skills__tag">Components</div>
			<div class="skills__tag">Vector graphics</div>
			<div class="skills__tag">GIF</div>
			<div class="skills__tag">PNG</div>
		'
	},
	{
		tag: 'Other',
		skills: '50',
		color: '#787CB4',
		desc: '<?= $skills__text_6?>',
		tags: '
			<div class="skills__tag">GIT</div>
			<div class="skills__tag">PHP</div>
			<div class="skills__tag">MySQL</div>
			<div class="skills__tag">WordPress</div>
			<div class="skills__tag">Modx</div>
			<div class="skills__tag">Bitrix24</div>

		'
	}
]
%}