{% set data =  [
	{
		title: '<?= $portfolio__name_5 ?>',
		block: [
		{
				name: 'edunet',
				link: 'vuz.edunetwork.ru',
				tags: '
							<div class="portfolio__tag">VUE</div>
							<div class="portfolio__tag">NUXT3</div>
							'
			},
						{
				name: 'college',
				link: 'ruscollege.ru',
				tags: '
							<div class="portfolio__tag">VUE</div>
							<div class="portfolio__tag">NUXT3</div>
							'
			},
			{
				name: 'mti',
				link: 'mti.moscow',
				tags: '
							<div class="portfolio__tag">HTML</div>
							<div class="portfolio__tag">CSS (SCSS)</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">PHP</div>
							'
			},
			{
				name: 'synergy',
				link: 'lab.pavelsolntsev.ru/synergy',
				tags: '
							<div class="portfolio__tag">HTML</div>
							<div class="portfolio__tag">CSS (SCSS)</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">PHP</div>
							'
			}
		]

		},
		{
		title: '<?= $portfolio__name_1 ?>',
		block: [
			{
				name: 'synergyevent',
				link: 'synergyevent.ru',
				tags: '
							<div class="portfolio__tag">HTML</div>
							<div class="portfolio__tag">CSS (SCSS)</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">PHP</div>
							<div class="portfolio__tag">Animation</div>
							'
			},
			{
				name: 'brain2020',
				link: 'lab.pavelsolntsev.ru/brain2020',
				tags: '
							<div class="portfolio__tag">HTML</div>
							<div class="portfolio__tag">CSS (SCSS)</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">PHP</div>
							<div class="portfolio__tag">Animation</div>
							'
			},
						{
				name: 'businessmobilization2020',
				link: 'synergyglobal.ru/forums/businessmobilization/2020',
				tags: '
							<div class="portfolio__tag">HTML</div>
							<div class="portfolio__tag">CSS (SCSS)</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">PHP</div>
							<div class="portfolio__tag">Animation</div>
							'
			},
			{
				name: 'beauty-forum',
				link: 'lab.pavelsolntsev.ru/beauty-forum',
				tags: '
							<div class="portfolio__tag">HTML</div>
							<div class="portfolio__tag">CSS (SCSS)</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">PHP</div>
							'
			},
			{
				name: 'mironova-videoschool',
				link: 'lab.pavelsolntsev.ru/mironova',
				tags: '
							<div class="portfolio__tag">HTML</div>
							<div class="portfolio__tag">CSS (SCSS)</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">PHP</div>
							<div class="portfolio__tag">Animation</div>
							'
			},
			{
				name: 'synergyacademyv2',
				link: 'synergyacademy.com/lp/v2',
				tags: '
							<div class="portfolio__tag">HTML</div>
							<div class="portfolio__tag">CSS (SCSS)</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">PHP</div>
							'
			},
			{
				name: 'noform',
				link: 'synergycybersport.com',
				tags: '
							<div class="portfolio__tag">HTML</div>
							<div class="portfolio__tag">CSS (SCSS)</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">PHP</div>
							'
			},
						{
				name: 'synergy',
				link: 'lab.pavelsolntsev.ru/synergy',
				tags: '
							<div class="portfolio__tag">HTML</div>
							<div class="portfolio__tag">CSS (SCSS)</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">PHP</div>
							'
			},
			{
				name: 'legalforum',
				link: 'synergyglobal.ru/legalforum',
				tags: '
							<div class="portfolio__tag">HTML</div>
							<div class="portfolio__tag">CSS (SCSS)</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">PHP</div>
							'
			},

						{
				name: 'mask',
				link: 'lab.pavelsolntsev.ru/mask/',
				tags: '
							<div class="portfolio__tag">HTML</div>
							<div class="portfolio__tag">CSS (SCSS)</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">PHP</div>
							'
			},
			{
				name: 'dubai',
				link: 'lab.pavelsolntsev.ru/dubai',
				tags: '
							<div class="portfolio__tag">HTML</div>
							<div class="portfolio__tag">CSS (SCSS)</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">PHP</div>
							'
			},
			{
				name: 'synergyintellect',
				link: 'synergyintellect.ru',
				tags: '
							<div class="portfolio__tag">HTML</div>
							<div class="portfolio__tag">CSS (SCSS)</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">PHP</div>
							'
			},
			{
				name: 'beautystart',
				link: 'lab.pavelsolntsev.ru/beautystart/',
				tags: '
							<div class="portfolio__tag">HTML</div>
							<div class="portfolio__tag">CSS (SCSS)</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">PHP</div>
							'
			},
			{
				name: 'synergymed_sp',
				link: 'synergymed.ru/lp/spa',
				tags: '
							<div class="portfolio__tag">HTML</div>
							<div class="portfolio__tag">CSS (SCSS)</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">PHP</div>
							'
			},
			{
				name: 'youngMoms',
				link: 'lab.pavelsolntsev.ru/youngMoms',
				tags: '
							<div class="portfolio__tag">HTML</div>
							<div class="portfolio__tag">CSS (SCSS)</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">PHP</div>
							'
			},

			{
				name: 'bezege',
				link: 'lab.pavelsolntsev.ru/bezege',
				tags: '
							<div class="portfolio__tag">HTML</div>
							<div class="portfolio__tag">CSS (SCSS)</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">PHP</div>
							'
			},
			{
				name: 'brand',
				link: 'lab.pavelsolntsev.ru/brand',
				tags: '
							<div class="portfolio__tag">HTML</div>
							<div class="portfolio__tag">CSS (SCSS)</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">PHP</div>
							<div class="portfolio__tag">Animation</div>
							'
			},
			{
				name: 'privetmma',
				link: 'lab.pavelsolntsev.ru/privetmma',
				tags: '
							<div class="portfolio__tag">HTML</div>
							<div class="portfolio__tag">CSS (SCSS)</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">PHP</div>
							'
			}
		]
	},
	{
		title: '<?= $portfolio__name_bot ?>',
		block: [
			{
				name: 'ramafotball',
				link: 't.me/ramafotball',
				link2: 'football.pavelsolntsev.ru',
				link3: 'vk.com/ramafootball',
				tags: '
							<div class="portfolio__tag">Node.js</div>
							<div class="portfolio__tag">MySQL</div>
							<div class="portfolio__tag">Telegraf (Telegram Bot API)</div>
							<div class="portfolio__tag">JS</div>
							'
			}
		]

	},
	{
		title: '<?= $portfolio__name_2 ?>',
		block: [
			{
				name: 'synergykniga',
				link: 'synergykniga.ru',
				tags: '
							<div class="portfolio__tag">HTML</div>
							<div class="portfolio__tag">CSS (SCSS)</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">PHP</div>
							'
			},
			{
				name: 'edunet',
				link: 'vuz.edunetwork.ru',
				tags: '
							<div class="portfolio__tag">HTML</div>
							<div class="portfolio__tag">CSS (SCSS)</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">PHP</div>
							'
			},
			{
				name: 'mti',
				link: 'mti.moscow',
				tags: '
							<div class="portfolio__tag">HTML</div>
							<div class="portfolio__tag">CSS (SCSS)</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">PHP</div>
							'
			},
			{
				name: 'college',
				link: 'ruscollege.ru',
				tags: '
							<div class="portfolio__tag">VUE</div>
							<div class="portfolio__tag">NUXT3</div>
							'
			}
		]

	},

	{
		title: '<?= $portfolio__name_3 ?>',
		block: [
			{
				name: 'milk',
				link: 'lab.pavelsolntsev.ru/milkFactory',
				tags: '
							<div class="portfolio__tag">HTML</div>
							<div class="portfolio__tag">CSS (SCSS)</div>
							<div class="portfolio__tag">JS</div>
							'
			},
			{
				name: 'burger',
				link: 'lab.pavelsolntsev.ru/burger',
				tags: '
							<div class="portfolio__tag">HTML</div>
							<div class="portfolio__tag">CSS (SCSS)</div>
							<div class="portfolio__tag">JS</div>
							'
			},
			{
				name: 'suchen',
				link: 'lab.pavelsolntsev.ru/suchen',
				tags: '
							<div class="portfolio__tag">HTML</div>
							<div class="portfolio__tag">CSS (SCSS)</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">PHP</div>
							'
			}
		]
	},


	{
		title: '<?= $portfolio__name_4 ?>',
		block: [
			{
				name: 'dveri-tut',
				link: 'www.dveri-tut.com',
				tags: '
							<div class="portfolio__tag">Optimization</div>
							'
			},
			{
				name: 'zamkitut',
				link: 'zamkitut.ru',
				tags: '
							<div class="portfolio__tag">Optimization</div>
							'
			},
			{
				name: 'ivan-pole',
				link: 'ivan-pole.ru',
				tags: '
							<div class="portfolio__tag">Optimization</div>
							'
			}

		]
	}
] %}