{% set data =  [
	{
		title: '<?= $portfolio__name_5 ?>',
		block: [
			{
				name: 'synru',
				link: 'synergy.ru',
				tags: '
							<div class="portfolio__tag">Vue 3</div>
							<div class="portfolio__tag">Nuxt 3</div>
							<div class="portfolio__tag">TypeScript</div>
							<div class="portfolio__tag">SCSS</div>
							<div class="portfolio__tag">VueUse</div>
							<div class="portfolio__tag">Vitest</div>
							<div class="portfolio__tag">Zod</div>
							'
			},
			{
				name: 'synonline',
				link: 'synergyonline.ru',
				tags: '
							<div class="portfolio__tag">Vue 3</div>
							<div class="portfolio__tag">Nuxt 3</div>
							<div class="portfolio__tag">Tailwind CSS</div>
							<div class="portfolio__tag">TanStack Query</div>
							<div class="portfolio__tag">Pinia</div>
							<div class="portfolio__tag">VueUse</div>
							<div class="portfolio__tag">SCSS</div>
							'
			},
			{
				name: 'vsecol',
				link: 'vsekolledzhi.ru',
				tags: '
							<div class="portfolio__tag">Vue 3</div>
							<div class="portfolio__tag">Nuxt 3</div>
							<div class="portfolio__tag">TypeScript</div>
							<div class="portfolio__tag">TanStack Query</div>
							<div class="portfolio__tag">Pinia</div>
							<div class="portfolio__tag">VueUse</div>
							<div class="portfolio__tag">SCSS</div>
							<div class="portfolio__tag">Stylelint</div>
							<div class="portfolio__tag">ESLint</div>
							'
			},
			{
				name: 'provuz',
				link: 'provuz.ru',
				tags: '
							<div class="portfolio__tag">Vue 3</div>
							<div class="portfolio__tag">Nuxt 3</div>
							<div class="portfolio__tag">TypeScript</div>
							<div class="portfolio__tag">TanStack Query</div>
							<div class="portfolio__tag">TanStack Pacer</div>
							<div class="portfolio__tag">Pinia</div>
							<div class="portfolio__tag">VueUse</div>
							<div class="portfolio__tag">SCSS</div>
							<div class="portfolio__tag">Stylelint</div>
							<div class="portfolio__tag">ESLint</div>
							'
			},
			{
				name: 's24team',
				link: 's24.team',
				tags: '
							<div class="portfolio__tag">Vue 3</div>
							<div class="portfolio__tag">Nuxt 4</div>
							<div class="portfolio__tag">Tailwind CSS</div>
							<div class="portfolio__tag">TanStack Query</div>
							<div class="portfolio__tag">Pinia</div>
							<div class="portfolio__tag">VueUse</div>
							<div class="portfolio__tag">Zod</div>
							<div class="portfolio__tag">Radix Vue</div>
							<div class="portfolio__tag">Swiper</div>
							'
			},
			{
				name: 'synstart',
				link: 'synergystart.ru/ru',
				tags: '
							<div class="portfolio__tag">Vue 2</div>
							<div class="portfolio__tag">Nuxt 2</div>
							<div class="portfolio__tag">Vuex</div>
							<div class="portfolio__tag">Axios</div>
							<div class="portfolio__tag">SCSS</div>
							<div class="portfolio__tag">Pug</div>
							<div class="portfolio__tag">Jest</div>
							<div class="portfolio__tag">Swiper</div>
							<div class="portfolio__tag">Chart.js</div>
							'
			},
			{
				name: 'edu',
				link: 'vuz.edunetwork.ru',
				tags: '
							<div class="portfolio__tag">Vue 3</div>
							<div class="portfolio__tag">Quasar</div>
							<div class="portfolio__tag">Webpack</div>
							<div class="portfolio__tag">Pinia</div>
							<div class="portfolio__tag">Axios</div>
							<div class="portfolio__tag">SCSS</div>
							<div class="portfolio__tag">ESLint</div>
							<div class="portfolio__tag">Stylelint</div>
							'
			},
			{
				name: 'mti',
				link: 'mti.moscow',
				tags: '
							<div class="portfolio__tag">PHP</div>
							<div class="portfolio__tag">SCSS</div>
							<div class="portfolio__tag">JS</div>
							'
			},
			{
				name: 'synergy',
				link: 'lab.pavelsolntsev.ru/synergy',
				tags: '
							<div class="portfolio__tag">PHP</div>
							<div class="portfolio__tag">Nunjucks</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">SCSS</div>
							'
			}
		]

		},
		{
		title: '<?= $portfolio__name_1 ?>',
		block: [
			{
				name: 'synergyevent',
				link: 'synergyevent.ru',
				tags: '
							<div class="portfolio__tag">PHP</div>
							<div class="portfolio__tag">Nunjucks</div>
							<div class="portfolio__tag">Gulp</div>
							<div class="portfolio__tag">SCSS</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">BrowserSync</div>
							<div class="portfolio__tag">Animation</div>
							'
			},
			{
				name: 'brain2020',
				link: 'lab.pavelsolntsev.ru/brain2020',
				tags: '
							<div class="portfolio__tag">PHP</div>
							<div class="portfolio__tag">Nunjucks</div>
							<div class="portfolio__tag">Gulp</div>
							<div class="portfolio__tag">SCSS</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">BrowserSync</div>
							<div class="portfolio__tag">Animation</div>
							'
			},
						{
				name: 'businessmobilization2020',
				link: 'synergyglobal.ru/forums/businessmobilization/2020',
				tags: '
							<div class="portfolio__tag">PHP</div>
							<div class="portfolio__tag">Nunjucks</div>
							<div class="portfolio__tag">Gulp</div>
							<div class="portfolio__tag">SCSS</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">BrowserSync</div>
							<div class="portfolio__tag">Animation</div>
							'
			},
			{
				name: 'beauty-forum',
				link: 'lab.pavelsolntsev.ru/beauty-forum',
				tags: '
							<div class="portfolio__tag">PHP</div>
							<div class="portfolio__tag">Nunjucks</div>
							<div class="portfolio__tag">Gulp</div>
							<div class="portfolio__tag">SCSS</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">BrowserSync</div>
							'
			},
			{
				name: 'mironova-videoschool',
				link: 'lab.pavelsolntsev.ru/mironova',
				tags: '
							<div class="portfolio__tag">PHP</div>
							<div class="portfolio__tag">Nunjucks</div>
							<div class="portfolio__tag">Gulp</div>
							<div class="portfolio__tag">SCSS</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">BrowserSync</div>
							<div class="portfolio__tag">Animation</div>
							'
			},
			{
				name: 'synergyacademyv2',
				link: 'synergyacademy.com/lp/v2',
				tags: '
							<div class="portfolio__tag">PHP</div>
							<div class="portfolio__tag">Nunjucks</div>
							<div class="portfolio__tag">Gulp</div>
							<div class="portfolio__tag">SCSS</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">BrowserSync</div>
							'
			},
			{
				name: 'noform',
				link: 'synergycybersport.com',
				tags: '
							<div class="portfolio__tag">PHP</div>
							<div class="portfolio__tag">Nunjucks</div>
							<div class="portfolio__tag">Gulp</div>
							<div class="portfolio__tag">SCSS</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">BrowserSync</div>
							'
			},
						{
				name: 'synergy',
				link: 'lab.pavelsolntsev.ru/synergy',
				tags: '
							<div class="portfolio__tag">PHP</div>
							<div class="portfolio__tag">Nunjucks</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">SCSS</div>
							'
			},
			{
				name: 'legalforum',
				link: 'lab.pavelsolntsev.ru/legalforum',
				tags: '
							<div class="portfolio__tag">PHP</div>
							<div class="portfolio__tag">Nunjucks</div>
							<div class="portfolio__tag">Gulp</div>
							<div class="portfolio__tag">SCSS</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">BrowserSync</div>
							'
			},

						{
				name: 'mask',
				link: 'lab.pavelsolntsev.ru/mask/',
				tags: '
							<div class="portfolio__tag">PHP</div>
							<div class="portfolio__tag">Nunjucks</div>
							<div class="portfolio__tag">Gulp</div>
							<div class="portfolio__tag">SCSS</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">BrowserSync</div>
							'
			},
			{
				name: 'dubai',
				link: 'lab.pavelsolntsev.ru/dubai',
				tags: '
							<div class="portfolio__tag">PHP</div>
							<div class="portfolio__tag">Nunjucks</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">CSS (SCSS)</div>
							'
			},
			{
				name: 'synergyintellect',
				link: 'synergyintellect.ru',
				tags: '
							<div class="portfolio__tag">PHP</div>
							<div class="portfolio__tag">Nunjucks</div>
							<div class="portfolio__tag">Gulp</div>
							<div class="portfolio__tag">SCSS</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">BrowserSync</div>
							'
			},
			{
				name: 'beautystart',
				link: 'lab.pavelsolntsev.ru/beautystart/',
				tags: '
							<div class="portfolio__tag">PHP</div>
							<div class="portfolio__tag">Nunjucks</div>
							<div class="portfolio__tag">Gulp</div>
							<div class="portfolio__tag">SCSS</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">BrowserSync</div>
							'
			},
			{
				name: 'synergymed_sp',
				link: 'synergymed.ru/lp/spa',
				tags: '
							<div class="portfolio__tag">PHP</div>
							<div class="portfolio__tag">Nunjucks</div>
							<div class="portfolio__tag">Gulp</div>
							<div class="portfolio__tag">SCSS</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">BrowserSync</div>
							'
			},
			{
				name: 'youngMoms',
				link: 'lab.pavelsolntsev.ru/youngMoms',
				tags: '
							<div class="portfolio__tag">PHP</div>
							<div class="portfolio__tag">Nunjucks</div>
							<div class="portfolio__tag">Gulp</div>
							<div class="portfolio__tag">SCSS</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">BrowserSync</div>
							'
			},

			{
				name: 'bezege',
				link: 'lab.pavelsolntsev.ru/bezege',
				tags: '
							<div class="portfolio__tag">PHP</div>
							<div class="portfolio__tag">Nunjucks</div>
							<div class="portfolio__tag">SCSS</div>
							<div class="portfolio__tag">JS</div>
							'
			},
			{
				name: 'brand',
				link: 'lab.pavelsolntsev.ru/brand',
				tags: '
							<div class="portfolio__tag">PHP</div>
							<div class="portfolio__tag">Nunjucks</div>
							<div class="portfolio__tag">Gulp</div>
							<div class="portfolio__tag">SCSS</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">BrowserSync</div>
							<div class="portfolio__tag">Animation</div>
							'
			},
			{
				name: 'privetmma',
				link: 'lab.pavelsolntsev.ru/privetmma',
				tags: '
							<div class="portfolio__tag">PHP</div>
							<div class="portfolio__tag">Nunjucks</div>
							<div class="portfolio__tag">Gulp</div>
							<div class="portfolio__tag">SCSS</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">BrowserSync</div>
							'
			}
		]
	},
	{
		title: '<?= $portfolio__name_bot ?>',
		block: [
			{
				name: 'tournament',
				link: 'tournament.pavelsolntsev.ru',
				tags: '
							<div class="portfolio__tag">Vue 3</div>
							<div class="portfolio__tag">Nuxt 3</div>
							<div class="portfolio__tag">TypeScript</div>
							<div class="portfolio__tag">Tailwind CSS</div>
							<div class="portfolio__tag">TanStack Query</div>
							<div class="portfolio__tag">Vitest</div>
							<div class="portfolio__tag">MySQL</div>
							'
			},
			{
				name: 'vk-bot',
				link: 'vk.com/rmsfootball',
				tags: '
							<div class="portfolio__tag">Node.js</div>
							<div class="portfolio__tag">vk-io</div>
							<div class="portfolio__tag">MySQL</div>
							<div class="portfolio__tag">JS</div>
							'
			},
			{
				name: 'telegram-bot',
				link: 't.me/RmsFootball',
				tags: '
							<div class="portfolio__tag">Node.js</div>
							<div class="portfolio__tag">Telegraf</div>
							<div class="portfolio__tag">node-telegram-bot-api</div>
							<div class="portfolio__tag">MySQL</div>
							<div class="portfolio__tag">Luxon</div>
							<div class="portfolio__tag">Lodash</div>
							<div class="portfolio__tag">Jest</div>
							<div class="portfolio__tag">ESLint</div>
							'
			}
		]

	},
	{
		title: '<?= $portfolio__name_2 ?>',
		block: [
			{
				name: 'synergykniga',
				link: 'synergykniga.ru',
				tags: '
							<div class="portfolio__tag">PHP</div>
							<div class="portfolio__tag">Nunjucks</div>
							<div class="portfolio__tag">Gulp</div>
							<div class="portfolio__tag">SCSS</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">BrowserSync</div>
							'
			},
			{
				name: 'synru',
				link: 'synergy.ru',
				tags: '
							<div class="portfolio__tag">Vue 3</div>
							<div class="portfolio__tag">Nuxt 3</div>
							<div class="portfolio__tag">TypeScript</div>
							<div class="portfolio__tag">SCSS</div>
							<div class="portfolio__tag">VueUse</div>
							<div class="portfolio__tag">Vitest</div>
							<div class="portfolio__tag">Zod</div>
							'
			},
			{
				name: 'synonline',
				link: 'synergyonline.ru',
				tags: '
							<div class="portfolio__tag">Vue 3</div>
							<div class="portfolio__tag">Nuxt 3</div>
							<div class="portfolio__tag">Tailwind CSS</div>
							<div class="portfolio__tag">TanStack Query</div>
							<div class="portfolio__tag">Pinia</div>
							<div class="portfolio__tag">VueUse</div>
							<div class="portfolio__tag">SCSS</div>
							'
			},
			{
				name: 'vsecol',
				link: 'vsekolledzhi.ru',
				tags: '
							<div class="portfolio__tag">Vue 3</div>
							<div class="portfolio__tag">Nuxt 3</div>
							<div class="portfolio__tag">TypeScript</div>
							<div class="portfolio__tag">TanStack Query</div>
							<div class="portfolio__tag">Pinia</div>
							<div class="portfolio__tag">VueUse</div>
							<div class="portfolio__tag">SCSS</div>
							<div class="portfolio__tag">Stylelint</div>
							<div class="portfolio__tag">ESLint</div>
							'
			},
			{
				name: 'provuz',
				link: 'provuz.ru',
				tags: '
							<div class="portfolio__tag">Vue 3</div>
							<div class="portfolio__tag">Nuxt 3</div>
							<div class="portfolio__tag">TypeScript</div>
							<div class="portfolio__tag">TanStack Query</div>
							<div class="portfolio__tag">TanStack Pacer</div>
							<div class="portfolio__tag">Pinia</div>
							<div class="portfolio__tag">VueUse</div>
							<div class="portfolio__tag">SCSS</div>
							<div class="portfolio__tag">Stylelint</div>
							<div class="portfolio__tag">ESLint</div>
							'
			},
			{
				name: 's24team',
				link: 's24.team',
				tags: '
							<div class="portfolio__tag">Vue 3</div>
							<div class="portfolio__tag">Nuxt 4</div>
							<div class="portfolio__tag">Tailwind CSS</div>
							<div class="portfolio__tag">TanStack Query</div>
							<div class="portfolio__tag">Pinia</div>
							<div class="portfolio__tag">VueUse</div>
							<div class="portfolio__tag">Zod</div>
							<div class="portfolio__tag">Radix Vue</div>
							<div class="portfolio__tag">Swiper</div>
							'
			},
			{
				name: 'synstart',
				link: 'synergystart.ru/ru',
				tags: '
							<div class="portfolio__tag">Vue 2</div>
							<div class="portfolio__tag">Nuxt 2</div>
							<div class="portfolio__tag">Vuex</div>
							<div class="portfolio__tag">Axios</div>
							<div class="portfolio__tag">SCSS</div>
							<div class="portfolio__tag">Pug</div>
							<div class="portfolio__tag">Jest</div>
							<div class="portfolio__tag">Swiper</div>
							<div class="portfolio__tag">Chart.js</div>
							'
			},
			{
				name: 'edu',
				link: 'vuz.edunetwork.ru',
				tags: '
							<div class="portfolio__tag">Vue 3</div>
							<div class="portfolio__tag">Quasar</div>
							<div class="portfolio__tag">Webpack</div>
							<div class="portfolio__tag">Pinia</div>
							<div class="portfolio__tag">Axios</div>
							<div class="portfolio__tag">SCSS</div>
							<div class="portfolio__tag">ESLint</div>
							<div class="portfolio__tag">Stylelint</div>
							'
			},
			{
				name: 'mti',
				link: 'mti.moscow',
				tags: '
							<div class="portfolio__tag">PHP</div>
							<div class="portfolio__tag">SCSS</div>
							<div class="portfolio__tag">JS</div>
							'
			}
		]

	},

	{
		title: '<?= $portfolio__name_3 ?>',
		block: [
			{
				name: 'milk',
				link: 'lab.pavelsolntsev.ru/milkFactory',
				tags: '
							<div class="portfolio__tag">HTML</div>
							<div class="portfolio__tag">CSS (SCSS)</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">PHP</div>
							'
			},
			{
				name: 'burger',
				link: 'lab.pavelsolntsev.ru/burger',
				tags: '
							<div class="portfolio__tag">HTML</div>
							<div class="portfolio__tag">CSS (SCSS)</div>
							<div class="portfolio__tag">JS</div>
							'
			},
			{
				name: 'suchen',
				link: 'lab.pavelsolntsev.ru/suchen',
				tags: '
							<div class="portfolio__tag">PHP</div>
							<div class="portfolio__tag">SCSS</div>
							<div class="portfolio__tag">JS</div>
							<div class="portfolio__tag">HTML</div>
							'
			}
		]
	},


	{
		title: '<?= $portfolio__name_4 ?>',
		block: [
			{
				name: 'dveri-tut',
				link: 'www.dveri-tut.com',
				tags: '
							<div class="portfolio__tag">Optimization</div>
							'
			},
			{
				name: 'zamkitut',
				link: 'zamkitut.ru',
				tags: '
							<div class="portfolio__tag">Optimization</div>
							'
			},
			{
				name: 'ivan-pole',
				link: 'ivan-pole.ru',
				tags: '
							<div class="portfolio__tag">Optimization</div>
							'
			}

		]
	}
] %}